.fa{margin: 3px 0;}
.table-height .fixed-table-body{height: auto;}
/*项目管理*/
.table-container table{font-size: 14px; margin-bottom: 0}
.table-container table tr th:last-child,.table-container table tr td:last-child{text-align: center;}
.table-container table tr:nth-child(even){background: #f9f9f9;}

/*项目管理   添加*/
#startWorking{width: 80%;float: left;}
.startWorkingBtn{float: right;}

/*角色管理*/
.roleListadd_btn{background: #169bd5;}
/*角色管理  添加*/
.roleListAdd .container{padding: 20px;}
.roleListAdd .container .row{margin-bottom: 24px;vertical-align: top;zoom: 1;}
.roleListAdd .container .row .row_span{text-align: right;}
.roleListAdd .container .row .yn-tree{padding: 0 !important;}
.roleListAdd .container .row .checkbox, .roleListAdd .container .row .radio{margin-top: 5px;margin-bottom: 5px;}
.roleListAdd_submit{width: 100%;position: fixed;left: 0;bottom: 0;border-radius: 0;background-color: #2d8cf0;}

/*符合检验   第三方检测*/
.fourCheck_head_select{width: 80%;height: 32px;box-sizing: border-box;}
.send_body{background: #FFFFFF;}
.send_body .col-xs-3,.send_body .col-xs-9{padding: 0;font-weight: 500;}

/*审核批文*/
.itemTable{border: none !important; padding-top: 0; font-size: 13px;}
.itemTable thead{display: none !important;}
.itemTable tbody td{border: none !important}
.itemTable .bootstrap-table .table{border-bottom: none !important;}
.itemTable .bootstrap-table .table tr{cursor: pointer;}
.itemTable .bootstrap-table .table td{ font-size: 13px !important;}
.itemTable .fixed-table-container{border: none !important;}